<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav style="text-align: center;" >
        <a href="/blog">Blog</a>
        <a href="/create">Add Blog</a>
        <a href="/register">Sign Up</a>
        <a href="/login">Login</a>
    </nav>
    <br><br><br>
    <form action="/create" method="post" style="text-align: center;">
        <input type="text" placeholder="Enter Blog Title" name="title" id="title"><br><br>
        <input type="text" placeholder="Enter Blog Content" name="content" id="content"><br><br>
        <input type="text" placeholder="Enter Blog Image" name="image" id="image"><br><br>
        <input type="submit" value="Blog">
    </form>
</body>
</html>